l3_shift {
            bindings = <
&trans  &trans  &trans          &trans      &trans                                           &b_ht KP_MINUS KP_PLUS    &b_kakko 0 0      &b_kagi 0 0       &b_paste_ht 0 0   &b_ht LS(N6) LS(N7)
&trans  &trans  &kp LC(LSHIFT)  &kp LSHIFT  &trans  &trans  &trans        &b_copy_cut 0 0    &b_ht FSLH MINUS          &b_ht PRCNT EXCL  &b_ht LBKT QMARK  &kp LS(ENTER)
&trans  &trans  &trans          &trans      &trans  &trans  &b_ht LC(HOME) UP_ARROW  &b_ht LC(END) DOWN_ARROW  &kp HOME          &kp LEFT_ARROW    &kp RIGHT_ARROW   &kp END
&trans  &trans  &trans          &trans      &trans  &trans  &b_ht SEMI SQT           &kp BACKSPACE             &trans
            >;
        };
